<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
<form th:action="@{/register-restaurant/save}" action="/register-restaurant/save" method="post" th:object="${shop}">

    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Name" th:field="*{name}">

    <label for="type">Type de cuisine</label>
    <input type="text" name="type" id="type" placeholder="type" th:field="*{type}">

    <input type="submit" value="Register">
</form>
</body>
</html>